@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Dosis&family=Kanit&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    background-color: #262A2B;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: black;
    box-shadow: 0px 1px 8px cyan;
    word-spacing: 4px;
}

li, a, button, span {
    text-transform: uppercase;
    text-decoration: none;  
}

.logo {
    cursor: pointer;
    color: cyan;
    font-size: 30px;
    font-weight: 900;
    font-family: Dosis;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 60px 0px 20px;
    transition: transform 0.4s;
}

.nav_links li a {
    font-size: 20px;
    font-weight: 900;
    font-family: 'Dosis', sans-serif;
    color: white;
}

.nav_links li:hover {
    transform: scale(1.15);
    text-shadow: 0px 0px 10px cyan;
}

button {
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: cyan;
    background: transparent;
    font-size: 20px;
    font-weight: 900;
    font-family: Kanit;
    transition: all 0.3 ease 0s;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

button:hover {
    background-color: rgb(31, 31, 31);
}