@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Roboto&display=swap');


html, body {
    margin: 0;
    height: 100%;
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
